<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Empty" />

<f:section name="main">
    <div id="pxa-site-choice">
        <p><f:translate key="bar_text" /></p>
        <select name="siteChoice">
            <f:for as="choice" each="{choiceBar.sortedChoicesWithLimit}">
                <option value="{choice.url}">{choice.localeTitle}</option>
            </f:for>
            <f:if condition="{choiceBar.siteChoice.showSplashPage} && {choiceBar.siteChoice.splashPageLink}">
                <option value="{f:uri.typolink(parameter: choiceBar.siteChoice.splashPageLink)}"><f:translate key="splash_page_link" /></option>
            </f:if>
        </select>

        <button data-accept-choice="1">
            <f:translate key="accept_choice" />
        </button>
        <button data-close="1">
            <f:translate key="bar_close" />
        </button>
    </div>
</f:section>
</html>