<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Empty" />

<f:section name="main">
    <div id="pxa-site-choice">
        <f:if condition="{choiceBar.siteChoice.message}">
            <f:format.html>{choiceBar.siteChoice.message}</f:format.html>
        </f:if>
        <select name="siteChoice">
            <f:for as="choice" each="{choiceBar.sortedChoicesWithLimit}">
                <option value="{choice.url}">{choice.localeTitle}</option>
            </f:for>
        </select>

        <f:if condition="{choiceBar.siteChoice.showSplashPage} && {choiceBar.siteChoice.splashPageLink}">
            <f:link.typolink parameter="{choiceBar.siteChoice.splashPageLink}">
                <f:translate key="splash_page_link" />
            </f:link.typolink>
        </f:if>

        <button data-accept-choice="1">
            <f:translate key="accept_choice" />
        </button>
        <button data-close="1">
            <f:translate key="bar_close" />
        </button>
    </div>
</f:section>
</html>