<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="main">
    <f:if condition="{siteChoice}">
        <f:then>
					<ul class="choice-recommendation__list">
						<f:for as="choice" each="{siteChoice.choices}">
							<li class="choice-recommendation__list-item">
									<a class="choice-recommendation__item-link" href="{choice.url}">{choice.localeTitle}</a>
							</li>
						</f:for>
					</ul>
        </f:then>
        <f:else>
            <p class="bg-warning">
                <f:translate key="site_choice_not_found" />
            </p>
        </f:else>
    </f:if>
</f:section>
</html>
