<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:pxa="http://typo3.org/ns/Pixelant/PxaSiteChoiceRecommendation/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="main">
    <div class="choice-recommendation__page">
        <f:for as="choiceChunk" each="{siteChoice.choices -> pxa:chunks(size: '12')}">
            <ul class="choice-recommendation__list">
                <f:for as="subChoiseChunk" each="{choiceChunk -> pxa:chunks(size: '3')}">
                    <li>
                        <f:for as="choice" each="{subChoiseChunk}">
                            <a class="choice-recommendation__item-link" href="{choice.urlForSplashPage}">
                                <span>
                                    <f:render partial="FlagIcon" arguments="{flag: choice.flag}" />
                                    <span> {choice.localeTitle}</span>
                                </span>
                            </a>
                        </f:for>
                    </li>
                </f:for>
            </ul>
        </f:for>
    </div>
</f:section>
</html>
