* {
    box-sizing: border-box;
}

.site-choice__bar {
    width: 100%;
    background: #2a2a2a;
    color: #fff;
    position: relative;
    z-index: 9999;
    font-family: inherit;
    -webkit-font-smoothing: antialiased;
}

.site-choice__bar-wrp {
    padding: 55px 15px 15px;
    min-height: 90px;
}

.site-choice__bar-caption-text {
    text-transform: uppercase;
    font-family: inherit;
    font-weight: 300;
    font-size: 17px;
    margin: 0;
    text-align: center;
}

.site-choice__bar-actions {
    margin-top: 10px;
}

.site-choice__actions-wrp {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.site-choice__select {
    position: relative;
    width: 215px;
    height: 30px;
    border: 1px solid #888;
    cursor: pointer;
}

.site-choice__selected-item {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    padding: 5px 40px 5px 10px;
    position: relative;
}

.site-choice__selected-item:before,
.site-choice__selected-item:after {
    content: '';
    width: 1px;
    height: 9px;
    display: block;
    background: #fff;
    position: absolute;
    top: 9px;
    right: 20px;
    transform-origin: 100% 100%;
    backface-visibility: hidden;
}

.site-choice__selected-item:before {
    transform: rotate(45deg);
}

.site-choice__selected-item:after {
    transform: rotate(-45deg);
}

.site-choice__items-list {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    left: -1px;
    right: -1px;
    bottom: -1px;
    transform: translate3d(0, 100%, 0);
    background: #2a2a2a;
    border: 1px solid #888;
    border-top: none;
    display: none;
}

._open .site-choice__items-list {
    display: block;
}

.site-choice__item-link {
    color: #fff;
    height: 45px;
    text-decoration: none;
    padding: 10px;
    font-size: 16px;
    display: block;
}

.site-choice__selected-item span,
.site-choice__item-link span {
    display: flex;
    align-items: center;
}

.site-choice__selected-item img,
.site-choice__item-link img {
    display: block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 50% 50%;
    margin-right: 10px;
}

.site-choice__item-link:hover {
    background: rgba(255, 255, 255, 0.1);
}

.site-choice__button-accept {
    text-transform: uppercase;
    border-radius: 0;
    border: 1px solid #50b4d8;
    color: #fff;
    font-size: 17px;
    background: #50b4d8;
    line-height: 20px;
    padding: 4px 10px;
    font-weight: 300;
    outline: 0;
}

.site-choice__button-close {
    position: absolute;
    left: 50%;
    top: 15px;
    transform: translateX(-50%);
    background: transparent;
    outline: 0;
    color: #fff;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    display: block;
    font-size: 0;
    padding: 0;
}

.site-choice__button-close:before,
.site-choice__button-close:after {
    content: '';
    display: block;
    width: 2px;
    height: 20px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
}

.site-choice__button-close:before {
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

.site-choice__button-close:after {
    transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}

@media (min-width: 768px) {
    .site-choice__select {
        width: 230px;
    }

    .site-choice__button-accept {
        min-width: 130px;
        text-align: center;
    }
}

@media (min-width: 992px) {
    .site-choice__bar-wrp {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        width: 970px;
        margin: auto;
        padding: 15px;
    }

    .site-choice__bar-actions {
        margin: 0;
        padding-right: 15px;
    }

    .site-choice__button-accept {
        margin-left: 15px;
    }

    .site-choice__button-close {
        top: 50%;
        right: 15px;
        left: auto;
        transform: translate3d(0, -50%, 0);
    }
}

@media (min-width: 1200px) {
    .site-choice__bar-wrp {
        width: 1170px;
    }

    .site-choice__bar-actions {
        padding-right: 0;
    }
}
